<nav [ngClass]="toggle ? 'active': ''" class="navigation">

  <ul class="navigation-list">
    <li class="list-item">
      <a class="item-link logo" href="#">
        <span class="icon">
          <i class="uil uil-headphones-alt"></i>
        </span>
        <span class="title">LowBeat</span>
      </a>
    </li>

    <li class="list-item">
      <a class="item-link" href="#">
        <span class="icon">
          <i class="uil uil-estate"></i>
        </span>
        <span class="title">Inicio</span>
      </a>
    </li>

    <li class="list-item">
      <a class="item-link" href="#">
        <span class="icon">
          <i class="uil uil-plus-circle"></i>
        </span>
        <span class="title">Nuevo</span>
      </a>
    </li>

    <li class="list-item">
      <a class="item-link" href="#">
        <span class="icon">
          <i class="uil uil-globe"></i>
        </span>
        <span class="title">Explorar</span>
      </a>
    </li>

    <hr>

    <li class="list-item">
      <a class="item-link" href="#">
        <span class="icon">
          <i class="uil uil-favorite"></i>
        </span>
        <span class="title">Favoritos</span>
      </a>
    </li>

    <li class="list-item">
      <a class="item-link" href="#">
        <span class="icon">
          <i class="uil uil-list-ui-alt"></i>
        </span>
        <span class="title">Listas</span>
      </a>
    </li>
  </ul>

</nav>