<div class="audio-player">
  <!-- Tracks information -->
  <div class="track-info">
    <div *ngIf="audioService.trackData$ | async as track" class="img-text">
      <img [src]="track.coverImg" class="cover-img">
      <div class="track-text">
        <div class="track-name">
          {{ track.name }}
        </div>
        <div class="artist-name">
          {{ track.artistNickname }}
        </div>
      </div>
    </div>
  </div>

  <!-- Media player Buttons -->
  <div class="media-player">
    <div class="buttons-player">
      <div class="step-left">
        <i class="uil uil-previous"></i>
      </div>
      <div (click)="audioService.togglePlayer()" class="button-play">
        <i [ngClass]="{
          'uil-play-circle': state === 'paused',
          'uil-pause-circle': state !== 'paused'
        }" class="uil"></i>
      </div>
      <div class="step-right">
        <i class="uil uil-step-forward"></i>
      </div>
    </div>
    <div class="progress-bar-content">
      <span #progressBar (click)="handlePosition($event)" class="progress-bar-static">
        <span [style.width]="(audioService.playerPercentage$ | async)+'%'" class="progress-bar-dinamic"></span>
      </span>
      <div class="time-display">
        <div class="current-time">{{ audioService.timeElapsed$ | async }}</div>
        <div class="duration">{{ audioService.timeRemaining$ | async }}</div>
      </div>
    </div>
  </div>

  <!-- Options buttons -->
  <div class="options-buttons">
    <div class="buttons-options">
      <i class="uil uil-volume"></i>
    </div>
  </div>
</div>